*{
    padding: 0; 
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #212121;
}
.container{
    overflow: hidden;
}
.container h1{
    text-align: center;
    color: white;
    margin-top: 15rem;
}
#clock{
    font-size: 30px; 
    background-color: chartreuse;
    color: black;
    margin-top: 1rem;
    padding: 30px 60px;
    border-radius: 15px;
    width: 10%;
    position: absolute;
    left: 41%;
}